In [1]:
import pandas as pd
import numpy as np
import os
import re
import work_files.functions as wf

In [2]:
data = pd.read_csv("../your-code/input/GSAF5.csv", encoding="latin")

display(data.head())
display(data.shape)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

(5992, 24)

In [3]:
wf.check_nulls(data)

(Country                     43
 Area                       402
 Location                   496
 Activity                   527
 Name                       200
 Sex                        567
 Age                       2681
 Injury                      27
 Fatal (Y/N)                 19
 Time                      3213
 Species                   2934
 Investigator or Source      15
 href formula                 1
 href                         3
 Unnamed: 22               5991
 Unnamed: 23               5990
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
        'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
        'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
        'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
        'Unnamed: 23'],
       dtype='object'),
 (5992, 24))

In [4]:
data = pd.read_csv("../your-code/input/GSAF5.csv", encoding="latin")

data = data.drop(['Time','pdf','href formula', 'href','Unnamed: 22', 'Unnamed: 23'],axis=1)
data = data.rename(columns = {'Sex ':'Sex',"Species ":"Species","Fatal (Y/N)":"Fatal"})

display(data.head())
display(data.shape)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989

(5992, 18)

In [5]:
data = data[data["Year"] >= 1950]

In [6]:
wf.check_nulls(data)

(Country                     13
 Area                       205
 Location                   260
 Activity                   313
 Name                       104
 Sex                        394
 Age                       1396
 Injury                      15
 Fatal                        8
 Species                   1653
 Investigator or Source      12
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
        'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Species',
        'Investigator or Source', 'Case Number.1', 'Case Number.2',
        'original order'],
       dtype='object'),
 (4271, 18))

In [7]:
data["Type"].value_counts()

Unprovoked      3193
Provoked         417
Invalid          353
Boat             194
Sea Disaster      95
Boating           19
Name: Type, dtype: int64

In [8]:
data = data[data["Type"] != "Invalid"]

In [9]:
wf.check_nulls(data)

(Country                     10
 Area                       184
 Location                   231
 Activity                   246
 Name                        76
 Sex                        348
 Age                       1236
 Injury                      11
 Fatal                        4
 Species                   1503
 Investigator or Source      10
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
        'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Species',
        'Investigator or Source', 'Case Number.1', 'Case Number.2',
        'original order'],
       dtype='object'),
 (3918, 18))

In [10]:
data = data.drop(["Case Number.1","Case Number.2","original order","Investigator or Source"],axis=1)

In [11]:
wf.check_nulls(data)

(Country       10
 Area         184
 Location     231
 Activity     246
 Name          76
 Sex          348
 Age         1236
 Injury        11
 Fatal          4
 Species     1503
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
        'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Species'],
       dtype='object'),
 (3918, 14))

In [12]:
display(data[data["Fatal"].isnull()])

data[data["Fatal"].isnull()].index

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species
54,2016.06.02.b,02-Jun-16,2016,Unprovoked,AUSTRALIA,New South Wales,Kingscliff,Spearfishing,Waade Madigan and Dr Seyong Kim,M,NaN,"No injury, but sharks repeatedly hit their fin...",NaN,Bronze whaler sharks x 3
3280,1967.09.13,13-Sep-67,1967,Provoked,ITALY,Brindisi Province,Brindisi,Scuba diving,Romeo Guarini,M,21,"Diver shot the shark, then it injured his arm ...",NaN,2 m shark
3901,1958.12.28,28-Dec-58,1958,Boat,TURKEY,Ahirkapi coast,Constantinople,Fishing,Fishing boat. Occupants: Yunus Potur & Ali Durmaz,NaN,NaN,Boat damaged,NaN,White shark
4107,1954.07.27,27-Jul-54,1954,Boating,ITALY,Venice Province,Off Chioggia,Fishing trawler Flavio Gioia,10 crew,M,NaN,No injury to occupants. Shark tore nets & traw...,NaN,5m shark

Int64Index([54, 3280, 3901, 4107], dtype='int64')

In [13]:
data.loc[54,"Fatal"] = "N"
data.loc[3280,"Fatal"] = "N"
data.loc[3901,"Fatal"] = "N"
data.loc[4107,"Fatal"] = "N"

In [14]:
wf.check_nulls(data)

(Country       10
 Area         184
 Location     231
 Activity     246
 Name          76
 Sex          348
 Age         1236
 Injury        11
 Species     1503
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
        'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Species'],
       dtype='object'),
 (3918, 14))

In [15]:
data["Fatal"].value_counts()

N          3253
Y           615
UNKNOWN      43
 N            7
Name: Fatal, dtype: int64

In [16]:
data = data[data["Fatal"] != "UNKNOWN"]
data["Fatal"] = data["Fatal"].apply(wf.espacio)

In [17]:
data["Fatal"].value_counts()

N    3260
Y     615
Name: Fatal, dtype: int64

In [18]:
data["Country"].value_counts()

USA                 1621
AUSTRALIA            669
SOUTH AFRICA         406
PAPUA NEW GUINEA     108
BRAZIL                86
                    ...
ST. MARTIN             1
NICARAGUA              1
BRITISH ISLES          1
KIRIBATI               1
SUDAN?                 1
Name: Country, Length: 139, dtype: int64

In [19]:
keys = data["Country"].value_counts().index
values = data["Country"].value_counts().values

countries = {keys[i]: values[i] for i in range(len(keys))}
drop_countries = []

for i in countries:
    if countries[i] < 10:
        drop_countries.append(i)
    else:
        pass
     

for c in drop_countries:
    data = data[data["Country"] != c]

In [20]:
display(data.head())

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark

In [21]:
wf.check_nulls(data)

(Country       10
 Area         101
 Location     153
 Activity     197
 Name          46
 Sex          280
 Age         1037
 Species     1312
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
        'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Species'],
       dtype='object'),
 (3519, 14))

In [22]:
data = data.dropna(subset=["Country"])
data = data.drop(["Area","Location"],axis=1)

In [23]:
wf.check_nulls(data)

(Activity     194
 Name          45
 Sex          279
 Age         1030
 Species     1306
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Activity', 'Name',
        'Sex', 'Age', 'Injury', 'Fatal', 'Species'],
       dtype='object'),
 (3509, 12))

In [24]:
data["Activity"].value_counts()

Surfing                                832
Swimming                               406
Spearfishing                           264
Fishing                                208
Wading                                 113
                                      ...
Scuba diving, hand feeding sharks        1
Fishing / washing bait off hands         1
Fishing for rock lobster                 1
Swimming with other crew near wharf      1
Resting on body board                    1
Name: Activity, Length: 755, dtype: int64

In [25]:
data['Activity'] = data['Activity'].apply(wf.activities)

In [26]:
data = data.dropna(subset=["Activity"])

In [27]:
wf.check_nulls(data)

(Name         37
 Sex         228
 Age         914
 Species    1176
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Activity', 'Name',
        'Sex', 'Age', 'Injury', 'Fatal', 'Species'],
       dtype='object'),
 (3315, 12))

In [28]:
data["Sex"].value_counts()

M      2695
F       389
M         2
lli       1
Name: Sex, dtype: int64

In [29]:
keys = data["Sex"].value_counts().index
values = data["Sex"].value_counts().values

sex = {keys[i]: values[i] for i in range(len(keys))}

print(sex)

{'M': 2695, 'F': 389, 'M ': 2, 'lli': 1}

In [30]:
data['Sex'] = data['Sex'].apply(wf.gender)

In [31]:
data["Sex"].value_counts()

M      2697
F       389
lli       1
Name: Sex, dtype: int64

In [32]:
data[data["Sex"]=="lli"]

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal,Species
1400,2004.11.11.b,11-Nov-04,2004,Unprovoked,USA,Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,5.5 m [18'] white shark

In [33]:
data.loc[1400,"Sex"] = "M"

In [34]:
wf.check_nulls(data)

(Name         37
 Sex         228
 Age         914
 Species    1176
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Activity', 'Name',
        'Sex', 'Age', 'Injury', 'Fatal', 'Species'],
       dtype='object'),
 (3315, 12))

In [35]:
data = data.drop(["Name","Age","Injury","Species"],axis=1)

In [36]:
data["Type"].value_counts()

Unprovoked      2740
Provoked         342
Boat             155
Sea Disaster      64
Boating           14
Name: Type, dtype: int64

In [38]:
data['Type'] = data['Type'].apply(wf.tipo)

In [39]:
data["Type"].value_counts()

Unprovoked    2804
Provoked       342
Boat           169
Name: Type, dtype: int64

In [40]:
wf.check_nulls(data)

(Sex    228
 dtype: int64,
 Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Activity', 'Sex',
        'Fatal'],
       dtype='object'),
 (3315, 8))

In [41]:
data

,Case Number,Date,Year,Type,Country,Activity,Sex,Fatal
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Surfing,M,N
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Surfing,M,N
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Surfing,M,N
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Fishing,NaN,N
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Wading,M,N
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Swimming,F,N
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,Surfing,M,Y
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,Surfing,F,N
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Surfing,M,N
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,Fishing,M,N
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Surfing,M,N
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Surfing,M,N
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,Surfing,M,N
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Wading,M,N
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,Snorkeling,M,N
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Surfing,M,N
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Surfing,M,N
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Swimming,M,N
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Rowing,M,N
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Lobstering,M,N
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Surfing,M,N
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Fishing,M,N
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Fishing,M,N
29,2016.07.17,17-Jul-16,2016,Boat,USA,Fishing,NaN,N
30,2016.07.16.b,16-Jul-16,2016,Unprovoked,USA,Surfing,F,N
...,...,...,...,...,...,...,...,...
4228,1950.12.31,31-Dec-50,1950,Unprovoked,AUSTRALIA,Paddling a surfboat,M,N
4229,1950.12.19.R,Reported 19-Dec-1950,1950,Unprovoked,AUSTRALIA,Swimming,NaN,N
4230,1950.12.16,16-Dec-50,1950,Unprovoked,AUSTRALIA,Treading water,M,Y
4231,1950.11.29,29-Nov-50,1950,Provoked,AUSTRALIA,Diving,M,N
4232,1950.11.25,25-Nov-50,1950,Unprovoked,AUSTRALIA,Surfing,M,N
4233,1950.11.12,12-Nov-50,1950,Boat,AUSTRALIA,Rowing,M,N
4234,1950.10.08,28-Oct-50,1950,Unprovoked,USA,Surfing,M,N
4235,1950.10.04,04-Oct-50,1950,Unprovoked,AUSTRALIA,Fishing,M,N
4238,1950.07.27.R,Reported 27-Jul-1950,1950,Boat,AUSTRALIA,Fishing,NaN,N
4239,1950.07.21,21-Jul-50,1950,Unprovoked,JAPAN,Swimming,M,Y
4240,1950.07.19,1950.07.19,1950,Provoked,ITALY,Fishing,NaN,N
4241,1950.07.14,15-Jul-50,1950,Unprovoked,CUBA,Swept off deck of S.S.Frontenac enroute from W...,M,N
4242,1950.07.10,10-Jul-50,1950,Unprovoked,USA,Swimming,M,N
4244,1950.07.00,Jul-50,1950,Unprovoked,USA,Diving,M,N
4245,1950.06.25,25-Jun-50,1950,Unprovoked,USA,Swimming,M,N
4246,1950.06.06,06-Jun-50,1950,Unprovoked,USA,Survived crash of two-engine C-46 transport p...,M,Y
4247,1950.05.24,24-May-50,1950,Unprovoked,SOUTH AFRICA,Treading water,M,N
4248,1950.05.01,01-May-50,1950,Boat,ITALY,Fishing,M,N
4249,1950.04.09.b,09-Apr-50,1950,Unprovoked,AUSTRALIA,Fishing,M,Y
4250,1950.04.09.a,09-Apr-50,1950,Unprovoked,SOUTH AFRICA,Fishing,M,N
4251,1950.03.26,26-Mar-50,1950,Unprovoked,SOUTH AFRICA,Wading,M,N
4252,1950.03.08,08-Mar-50,1950,Unprovoked,SOUTH AFRICA,Lifesaving drill,M,Y
4254,1950.02.18.R,Reported 18-Feb-1950,1950,Unprovoked,AUSTRALIA,Fishing,M,N
4255,1950.02.11,11-Feb-50,1950,Unprovoked,SOUTH AFRICA,Surfing,M,Y
4257,1950.01.12.R,Reported 12-Jan-1950,1950,Unprovoked,AUSTRALIA,Swimming,M,N
4258,1950.00.00.m,1950,1950,Boat,AUSTRALIA,Sitting on side of dinghy mending a net,M,N
4263,1950.00.00.h,1950,1950,Unprovoked,USA,Standing,M,N
4265,1950.00.00.f,1950,1950,Unprovoked,PANAMA,Bathing,M,N
4268,1950.00.00.c,1950,1950,Unprovoked,NEW CALEDONIA,Fishing,M,N
4269,1950.00.00.b,Ca. 1950,1950,Unprovoked,NEW CALEDONIA,Diving,M,N