## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here

sample_list_1 = random.sample(range(101),80)

print(sample_list_1)
print(len(sample_list_1))

[25, 4, 10, 3, 2, 34, 53, 52, 39, 71, 26, 8, 69, 12, 27, 1, 30, 96, 85, 76, 0, 31, 43, 18, 29, 74, 90, 51, 64, 17, 87, 48, 82, 62, 13, 37, 9, 66, 33, 49, 41, 100, 68, 50, 22, 95, 63, 99, 28, 79, 58, 72, 67, 73, 32, 21, 54, 15, 60, 14, 40, 61, 47, 45, 38, 92, 11, 57, 94, 93, 23, 24, 81, 97, 56, 86, 91, 88, 70, 75]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [27]:
# Your code here

set1 = set(sample_list_1)

print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 81, 82, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [10]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2 += random.sample(range(101),1)

print(sample_list_2)
print(len(sample_list_2))

[80, 80, 38, 33, 53, 80, 97, 1, 49, 46, 46, 18, 52, 42, 36, 63, 2, 57, 93, 57, 77, 86, 21, 99, 47, 78, 78, 40, 75, 89, 50, 76, 98, 98, 99, 37, 20, 94, 48, 40, 75, 54, 36, 64, 8, 20, 29, 79, 26, 46, 37, 25, 10, 83, 83, 7, 36, 47, 48, 79, 72, 52, 21, 47, 23, 41, 27, 32, 99, 48, 27, 18, 69, 48, 90, 2, 90, 32, 39, 46]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here

set2 = set(sample_list_2)

print(set2)
print(len(set2))

{1, 2, 7, 8, 10, 18, 20, 21, 23, 25, 26, 27, 29, 32, 33, 36, 37, 38, 39, 40, 41, 42, 46, 47, 48, 49, 50, 52, 53, 54, 57, 63, 64, 69, 72, 75, 76, 77, 78, 79, 80, 83, 86, 89, 90, 93, 94, 97, 98, 99}
50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here

set3 = set1.difference(set2)

print(set3)
print(len(set3))

{0, 3, 4, 9, 11, 12, 13, 14, 15, 17, 22, 24, 28, 30, 31, 34, 43, 45, 51, 56, 58, 60, 61, 62, 66, 67, 68, 70, 71, 73, 74, 81, 82, 85, 87, 88, 91, 92, 95, 96, 100}
41

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
# Your code here

set4 = set2.difference(set1)

print(set4)
print(len(set4))

{98, 36, 7, 42, 77, 46, 78, 80, 83, 20, 89}
11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here

set5 = set1.intersection(set2)

print(set5)
print(len(set5))

{1, 2, 8, 10, 18, 21, 23, 25, 26, 27, 29, 32, 33, 37, 38, 39, 40, 41, 47, 48, 49, 50, 52, 53, 54, 57, 63, 64, 69, 72, 75, 76, 79, 86, 90, 93, 94, 97, 99}
39

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
# Your code here

print(len(set1) == len(set3) + len(set5))
print(len(set1) >= len(set3))
print(len(set1) >= len(set5))
print(len(set2) == len(set4) + len(set5))
print(len(set2) >= len(set4))
print(len(set2) >= len(set5))

True
True
True
True
True
True

#### Create an empty set called `set6`.

In [19]:
# Your code here

set6 = set([])

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
# Your code here

set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 81, 82, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [21]:
# Your code here

print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [22]:
# Your code here

if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 does not contain set2")
    
if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here

united_set_1 = set.union(set3,set4,set5)
united_set_2 = set.union(set1,set2)

print(united_set_1==united_set_2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [28]:
# Your code here

print(set1)

set1 = list(set1)

set1.pop(0)

set1 = set(set1)

print(set1)

{0, 1, 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 81, 82, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
{1, 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 81, 82, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [30]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)
print(len(set1))

{2, 3, 4, 8, 10, 12, 13, 14, 15, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 37, 38, 40, 43, 45, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 82, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 100}
62